@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root  {
    --background: 45.4 100% 95%;
    --foreground: 45.4 5% 10%;
    --card: 45.4 50% 90%;
    --card-foreground: 45.4 5% 15%;
    --popover: 45.4 100% 95%;
    --popover-foreground: 45.4 100% 10%;
    --primary: 45.4 93.4% 47.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 7.399999999999999 30% 85%;
    --muted-foreground: 45.4 5% 40%;
    --accent: 7.399999999999999 30% 80%;
    --accent-foreground: 45.4 5% 15%;
    --destructive: 0 100% 42%;
    --destructive-foreground: 45.4 5% 90%;
    --border: 45.4 30% 50%;
    --input: 45.4 30% 42%;
    --ring: 45.4 93.4% 47.5%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 45.4 50% 10%;
    --foreground: 45.4 5% 90%;
    --card: 45.4 50% 10%;
    --card-foreground: 45.4 5% 90%;
    --popover: 45.4 50% 5%;
    --popover-foreground: 45.4 5% 90%;
    --primary: 45.4 93.4% 47.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 7.399999999999999 30% 25%;
    --muted-foreground: 45.4 5% 60%;
    --accent: 7.399999999999999 30% 25%;
    --accent-foreground: 45.4 5% 90%;
    --destructive: 0 100% 42%;
    --destructive-foreground: 45.4 5% 90%;
    --border: 45.4 30% 42%;
    --input: 45.4 30% 42%;
    --ring: 45.4 93.4% 47.5%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.pokebro-map div {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  transform-origin: top left;
}